table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    width: 10px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.skilltable {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para los checkboxes */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #4CAF50; /* Cambia el color del checkbox */

}


input[type="checkbox"]:disabled {
    pointer-events: none; /* Prevent interaction */
    accent-color: #4CAF50;
  }

  input:disabled {
    accent-color: #4CAF50;
}
